// Color

color-white = #FFF
color-font = #323232
color-header-font = #202020
color-light-font = #616171
color-highlight = #b71c1c
color-href = #4078c0
color-dark = #000
color-background = #FEFEFE
color-background-deep = #EDEDED
color-none = rgba(0, 0, 0, 0)
color-border = #e0e0e0
color-hover = #E3E3E3
color-hover-line = #1b1a1a
color-danger = #b71c1c

// Font
size-font = 1em
line-height = 1.5
family = "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, Helvetica, sans-serif
font-header-lg = 1.75em
font-header-md = 1.5em
font-header-sm = 1.1em
// Time
side-time = 300ms
hover-time = 200ms
// layout
side-width = 210px
content-width = 760px
content-pd-lr = 40px
content-total-width = (content-width + content-pd-lr * 2)

// animation

@keyframes flow
  from
    transform translate3d(0, -30px, 0)
    opacity 0
  to
    transform translate3d(0, 0, 0)
    opacity 1

@-webkit-keyframes flow
  from
    transform translate3d(0, -30px, 0)
    opacity 0
  to
    transform translate3d(0, 0, 0)
    opacity 1