// Color

color-font = #323232
color-header-font = #202020
color-light-font = #616161 + 10
color-dark = #000
color-background = #FEFEFE
color-background-deep = #EDEDED
color-none = rgba(0, 0, 0, 0)
color-border = #e0e0e0
color-hover = #E3E3E3
color-hover-line = #1b1a1a
color-danger = #b71c1c

// Font
size-font = 14px
line-height = 1.5
// Time
side-time = 300ms
hover-time = 200ms
// layout
side-width = 210px