@import '_reset'
@import '_variables'
@import '_util/mixin'
html, body
  height 100%
html
  -webkit-overflow-scrolling touch
  -webkit-text-size-adjust 100%
body
  margin 0
  padding 0
  position relative
  word-break break-all
  word-wrap break-word
  font-size size-font
  line-height 1.5
  font-family family
  background color-background
  color color-font

                                       
@font-face
  font-family 'iconfont'
  src url('//at.alicdn.com/t/font_1469071762_054906.eot')
  src url('//at.alicdn.com/t/font_1469071762_054906.eot?#iefix') format('embedded-opentype'), 
  url('//at.alicdn.com/t/font_1469071762_054906.woff') format('woff'), 
  url('//at.alicdn.com/t/font_1469071762_054906.ttf') format('truetype'), 
  url('//at.alicdn.com/t/font_1469071762_054906.svg#iconfont') format('svg')
                    
.i-weibo, .i-github, .i-v2ex, .i-douban, .i-zhihu, .i-twitter, .i-facebook, .i-codepen
.i-left, .i-right, .i-next
  ifont null
  
.i-weibo::after
  content '\e607'
.i-github::after
  content '\e60a'
.i-v2ex::after
  content '\e606'
.i-douban::after
  content '\e605'
.i-zhihu::after
  content '\e608'
.i-twitter::after
  content '\e609'
.i-facebook::after
  content '\e60b'
.i-codepen::after
  content '\e601'
.i-left::after
  content '\e600'
.i-right::after
  content '\e602'
.i-next::after
  content '\e603'
.wrap
  position relative
  transition side-time all ease-in-out

@import '_partial/header'
@import '_partial/side'
@import '_partial/sidebar'
@import '_partial/content'
@import '_partial/highlight'
@import '_partial/ct'
@import '_partial/footer'
@import '_util/responsive'