@import '_reset'
@import '_variables'
@import '_util/mixin'
html, body
  height 100%
html
  -webkit-overflow-scrolling touch
  -webkit-text-size-adjust 100%
  -webkit-user-select none
body
  margin 0
  padding 0
  position relative
  word-break break-all
  word-wrap break-word
  -webkit-user-select none
  font size-font Helvetica, Arial, sans-serif
  background color-background
  color color-font
                    
@font-face
  font-family 'iconfont'
  src url('//at.alicdn.com/t/font_1468485960_8307326.eot')
  src url('//at.alicdn.com/t/font_1468485960_8307326.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1468485960_8307326.woff') format('woff'),
  url('//at.alicdn.com/t/font_1468485960_8307326.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1468485960_8307326.svg#iconfont') format('svg')
                    
.i-weibo, .i-github, .i-v2ex, .i-douban, .i-zhihu, .i-twitter, .i-facebook, .i-codepen
.i-left, .i-right
  ifont null
  
.i-weibo:before
  content '\e607'
.i-github:before
  content '\e60a'
.i-v2ex:before
  content '\e606'
.i-douban:before
  content '\e605'
.i-zhihu:before
  content '\e608'
.i-twitter:before
  content '\e609'
.i-facebook:before
  content '\e60b'
.i-codepen:before
  content '\e601'
.i-left:before
  content '\e600'
.i-right:before
  content '\e602'
  
.wrap
  transition side-time all ease-in-out
@import '_partial/header'
@import '_partial/sidebar'
@import '_partial/content'