<footer class="footer">
  <div><%= config.description %></div>
  <div><%- __('footer.powered', '<a href="https://hexo.io/">Hexo</a>') %> | <%= __('footer.theme') %>- <a href="https://github.com/wszgxa/hexo-theme-simple">Simple</a></div>
</footer>