<header class="header">
  <nav>
    <a
    href="/"
    <% if (path === 'index.html') { %>
      class="ac"
    <% } %>
    >首页</a>
    <a
    href="<%= theme.menu.categories %>"
    <% if (path === 'categories/index.html') { %>
      class="ac"
    <% } %>
    >分类</a>
    <a
    href="<%= theme.menu.tags %>"
    <% if (path === 'tags/index.html') { %>
      class="ac"
    <% } %>
    >标签</a>
    <a
    href="<%= theme.menu.about %>"
    <% if (path === 'about/index.html') { %>
      class="ac"
    <% } %>
    >关于</a>
    <a href="/atom.xml">RSS</a>
  </nav>
</header>