<%
var menu_tag = ""
var get_menu_tag = function (p) {
  if (p.indexOf('/') == -1) {
    return 'home'
  }
  return p.split('/')[0]
}
menu_tag = get_menu_tag(page.path)
%>
<header class="header menu-<%= menu_tag %>">
  <nav>
  <% for (var name in theme.menu) { %>
    <a class='menu-item-<%= name %>' href="<%= url_for(theme.menu[name]) %>">
    <%= __('menu.' + name) %>
    </a>
  <% } %>
  </nav> 
</header>