
.content
  max-width 768px
  padding 20px
  margin 20px auto 0
.archives
  margin-bottom 30px
  .title-wrap
    padding 20px 0
    .post-title
      font-size 26px
      color color-header-font
    time 
      font-size 16px
      color color-light-font
.page-nav
  margin 40px 0
  text-align center
  .space, .page-number, .extend
    position relative
    display inline-block
    width 30px
    height 30px
    margin 0 10px    
  .page-number
    text-align center
    font-size 16px
    line-height 30px
    &:hover
      border-bottom 1px solid color-dark
  .extend
    line-height 30px
    &:hover
      border-bottom 1px solid color-dark
    i
      font-size 12px
  .current
    color color-light-font
    border-bottom 1px solid color-dark
  a
    color color-light-font
