// categories and tags

.cate-head
  text-align center
  margin-top 20px
  font-size font-header-md
.cate-list-item
  display inline-block
  padding 0 8px
.cate-list
  max-width 80%
  margin 40px auto 0
  a
    color color-font
    padding 5px
    &:hover
      text-decoration underline
  span
    color color-light-font
    &:before
      content '['
    &:after
      content ']'

.tags-cloud
  width 80%
  margin 20px auto 0
  text-indent 4px
  text-align center
  word-break normal 
  a
    display inline-block
    margin 5px
    &:hover
      border-bottom 1px solid color-hover

.ct-title
  margin 10px auto 20px
  text-align center
  h2
    font-size font-header-lg
  small
    color color-light-font