.footer
  max-width content-width
  margin 10px auto 0
  text-align center
  background-color color-white
  box-shadow 0 0 5px color-hover
  padding 10px content-pd-lr
  a
    color color-href
    &:hover
      text-decoration underline
  div
    padding 5px