.header
  max-width 800px
  margin 0 auto 20px
  text-align center
  background-color color-white
  box-shadow 0 1px 3px color-hover
  a
    display inline-block
    padding 10px 10px
    &:hover
      background-color color-hover      
