.side
  position fixed
  bottom 20px
  left 30px
  transition side-time all
  .arrows
    width 25px
    height 25px
    border-radius 50%
    border 1px solid color-none
    line-height 25px
    text-align center
    cursor pointer
    background-color color-hover
    &:after
      content '\e602'
      font-family iconfont
      font-size 14px
      color #7F7F7F
      // 居中
    &:hover:after
     color color-danger